@using Carthage_Market.Models
@model List<Category>

<section id="services" class="services section">

	<div class="container section-title" data-aos="fade-up">
		<h2>Categories</h2>
		<p>Explore our wide range of categories and find products tailored to your needs</p>
	</div>

	<div class="container">

		<div class="row gy-4">

			@foreach (var cat in Model)
			{
				<div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
					<div class="service-item d-flex">
						<div class="icon flex-shrink-0"><i class="@cat.PhotoUrl"></i></div>
						<div>
							<h4 class="title"><a href="#" class="stretched-link">@cat.Name</a></h4>
							<p class="description">@cat.Description</p>
						</div>
					</div>
				</div>
			}

		
		</div>

	</div>

</section>